{% if field.value is not empty %}
    <table class="table table-sm table-hover mb-0">
        <thead>
            <tr>
                <th>Élève</th>
                <th>Progression</th>
                <th>Badge</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for progression in field.value %}
                <tr>
                    <td>
                        <a href="{{ crud_url('EleveCrudController', 'detail', progression.eleve.id) }}" class="text-decoration-none">
                            {{ progression.eleve }}
                        </a>
                    </td>
                    <td>{{ progression.percentage }}%</td>
                    <td>
                        <a href="{{ crud_url('BadgeCrudController', 'detail', progression.badge.id) }}" class="text-decoration-none">
                            {{ progression.badge }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ crud_url('ProgressionCrudController', 'detail', progression.id) }}" class="text-decoration-none text-muted small">Voir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <em class="text-muted">Aucune progression</em>
{% endif %}
